# 結果・データディレクトリ
tools/result_*/
tools/python_*/Cassini_radio_data/
tools/python_for_3D_occultation/3d_ionospheric_model/Europa/
tools/python_for_3D_occultation/3d_ionospheric_model/Ganymede/
tools/python_for_3D_occultation/3d_ionospheric_model/LatHyS_simu/
tools/python_for_3D_occultation/check_raypath_for_3D/ray_path_result/
tools/python_for_3D_occultation/raytracing_results/
tools/result_titan/expres_detectable_radio_data_of_each_flyby/
tools/result_titan/calculated_expres_detectable_radio_data_of_each_flyby/
tools/result_titancopy.zip
tools/python_Titan_ionsphere/(deimos)ExPRES_parameter_check/



# 大きなファイル・ライブラリ
*/map_model/
*.nc
*.zip
*.a
*.gch

# ログ・一時ファイル
*.log
log_data
nohup.out
old_results/
template/

# システムファイル
.DS_Store
*/.DS_Store

# 開発環境ディレクトリ
raytrace.tohoku/src/rtc2/
raytrace.tohoku/src/rtc3*/
raytrace.tohoku/src/rtc4/
src_local_env/
src_venv/rtc_clare_model/
juice/results/
src_venv/rtc_cost_reduction/
raytrace.tohoku/src/rtc/tools/map_model/
src_venv/rtc/tools/map_model/
src_venv/rtc_moon/tools/map_model/
tools/python_for_3D_occultation/3d_ionospheric_model/check_model_code/diffusion_fitting_result/
tools/results/
src_venv/rtc_cost_reduction/testing/ray-Plathys_europa_3d_4.5e2_6e2-Mtest_simple-benchmark-RX-Z0-FR6.510338783264160156e5
tools/python_for_3D_occultation/3d_ionospheric_model/check_model_code/output.txt

src_venv/rtc_cost_reduction/testing/ray-Plathys_europa_3d_4.5e2_6e2-Mtest_simple-benchmark-RX-Z0-FR6.510338783264160156e5
.DS_Store
src_venv/.DS_Store
src_venv/rtc_cost_reduction/.DS_Store
src_venv/rtc_cost_reduction/testing/.DS_Store
src_venv/rtc_cost_reduction/tools/.DS_Store
tools/.DS_Store
src_venv/rtc_cost_reduction/testing/ray-Plathys_europa_3d_4.5e2_6e2-Mtest_simple-benchmark-RX-Z0-FR6.510338783264160156e5
